.price-details-container {
    align-self: flex-start;
    background-color: var(--background-color);
    padding: 1.5rem 1rem;
    width: 25rem;
    margin-left: auto;
    margin-top: 2rem;
    overflow: hidden;
    border-top: 4px solid orangered;
  }
  
  .guests {
    border: 1px solid var(--container-border-color);
    padding: 4px 0;
    text-align: left;
  }
  
  .gutter-sm {
    padding: 8px 1rem;
  }
  
  .btn-reserve {
    width: 100%;
    padding: 1rem;
  }
  
  .price-distribution {
    padding-top: 1rem;
  }
  
  .final-price {
    padding: 10px;
  }
  
  .final-price:last-child {
    border-top: 1px solid var(--container-border-color);
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .guest-count-input {
    border: none;
  }
  
  .guest-count-input:focus {
    outline: none;
  }

  .selected-dates{
    display: flex;
    padding-left: 60px;
    overflow: hidden;
    gap:10px
  
  }

  .checkin{
    max-width: 50%;
    display:flex;
    flex-direction: column;

  }


  @media (max-width:763px) {
    .price-details-container{
      width:100%;
      border-top: 4px solid orangered;
    }

    .selected-dates{
      padding-left: 10px;
    }
  }