.hotel-image-container {
    height: 35rem;
    display: flex;
    gap:8px;
    overflow: hidden;
  }
  
  .primary-image-container {
    height: 25rem;
  }
  
  .hotel-img {
    width: 21.95vw;
    height: 50%;
  }
  
  .primary-img {
    width: 40vw;
    height: 100%;
  }

  .sub-img{
    display:flex;
    flex-wrap :wrap;
    gap: 8px;
  }

@media (max-width:763px) {
  .primary-img {
    width: 100vw;
  }

  .hotel-img {
    width: 100vw;
  }

  .hotel-image-container {
    height: fit-content;
    flex-direction: column;
    gap:15px;
    overflow: hidden;
  }

  .sub-img {
    gap:23px;
  }
 
}

